
body {
  margin: 0;                     /* Remove page space */
  height: 100vh;                 /* Full screen height */
  background: linear-gradient(135deg, #e0b487, #b3ec6d);
  display: flex;                 /* Use flex */
  justify-content: center;       /* Center left-right */
  align-items: center;           /* Center up-down */
  font-family: Arial, sans-serif;
}

/* Home + Logout buttons */
.top-buttons {
  position: fixed;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

/* Home button */
#homeBtn {
  background: white;
  border: none;
  border-radius: 20px;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
}

/* Logout button */
#logoutBtn {
  background: white;
  border: none;
  border-radius: 20px;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
}

#homeBtn:hover, #logoutBtn:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}


/* Main birthday card */
.birthday-card {
  width: 350px;
  padding: 20px;
  background: white;              /* Soft lavender */
  border-left: 6px solid #5a5ee6;   /* Purple accent */
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.birthday-card h1 {
  color: #4a4ed1;
  margin-bottom: 10px;
}

.birthday-card h2 {
  color: #ee6b13;
  margin-bottom: 15px;
}
.quote-card {
  background: rgb(239, 198, 103);
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
