
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* optional: nicer background */
}

.card {
  background-color: rgb(220, 231, 125); /* blue card */
  width: 450px;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Heading */
.card h2 {
  margin-bottom: 10px;
  color: rgb(201, 117, 8); /* better contrast */
}

/* Normal text */
.card p {
  color: black;
  margin-bottom: 12px;
}

/* Home info text */
.home-info {
  font-size: 13px;
  color: #e0e0e0;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  background: blue;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: darkblue;
}